@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family:'poppins',sans-serif;
    border: none;
    outline: none;
    text-decoration: none;

}

.header{
    width: 100%;
    min-height:120vh;
    background: url(./bg2.jpg);
    background-position: center;
    /* filter: brightness(0.5); */
    background-size: cover;
    background-repeat: no-repeat;

}

.header .main-header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6%;
}

.header .main-header .logo img{
    width: 180px;
    cursor: pointer;
}
.header .main-header .navbar{
    display: flex;
    align-items: center;
    position: relative;
}
.header .main-header .navbar a{
    margin-right: 1.5rem;
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 0.5s;
}
.header .main-header .navbar a:hover{
    color: orange; 
}
.btn{
    padding: 0.8rem 2.7rem;
    background:orange;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    border: 0,1rem solid,#fff;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background: #fff;
    color: #111117;
}

.header .home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    padding: 3rem 9%;

}

.header .home .image img{
    width: 75%;
    /* height: 38rem; */
    
    
}

.header .home .home-content h2{
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
}

.header .home .home-content h4{
    color: #ff6600;
    font-size: 3.5rem;
font-weight: 400;
position:relative;

}

.header .home .home-content p{
    margin: 3rem 0;
    color: #fff;
}

.header .home .home-content button{
    background: #ff6600;
    border: 0.1rem solid #ff6600;
    transition: 0.5s;
}
